.item {
    border: 1px solid #CCCCCC;
    padding: 38px 51px;

    h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
    }

    p {
        width: 100%;
        max-width: 1000px;
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
    }

    button {
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        border: 1px solid #000000;
        width: 180px;
        padding: 12px 0;
    }
}