.item {
    border: 1px solid #CCCCCC;
    padding: 38px 51px;

    h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
    }

    p {
        margin-top: 10px;
        width: 100%;
        max-width: 1000px;
        font-size: 18px;
        font-weight: 400;
        line-height: 35px;
    }

    .btn {
        margin-top: 20px;
        max-width: 180px;
        padding: 12px 0;
    }
}

.body {
    h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    .image {
        img {
            width: 100%;
            max-width: 1000px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 28px;
        }
    }

    .p_list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .image_list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        img{
            width: 261px;
        }
    }
}

.loader {
    width: 100%;
    height: 215px;
    display: block;
    margin: auto;
    position: relative;
    background: #FFF;
    box-sizing: border-box;
}

.loader::after {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    top: 15px;
    left: 15px;
    position: absolute;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
        linear-gradient(#DDD 100px, transparent 0),
        linear-gradient(#DDD 16px, transparent 0),
        linear-gradient(#DDD 50px, transparent 0),
        linear-gradient(#DDD 50px, transparent 0),
        linear-gradient(#DDD 50px, transparent 0);
    background-repeat: no-repeat;
    background-size: 100% 175px, 75% 20px, 50% 30px, 45% 20px, 50% 20px, 150px 50px;
    background-position: -185px 0, 0 0, 0 30px, 0 60px, 0 90px, 0 142px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
}

@keyframes animloader {
    to {
        background-position: 185px 0, 0 0, 0 30px, 0 60px, 0 90px, 0 142px;
    }
}