.page {
    padding-top: 40px;
    padding-bottom: 100px;
    width: 100%;

    .header {
        .icon {
            path {
                fill: black;
            }
        }

        h2 {
            margin-top: 15px;
            font-size: 49px;
            font-weight: 500;
            line-height: 56px;
        }
    }

    .stocks{
        margin-top: 50px;
    }
}