.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border: 1px solid #00000033;

    width: 100%;
    max-width: 458px;
    height: 190px;
    padding-left: 27px;

    img {
        width: 138px;
        height: 171px;
        margin-bottom: -16px;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
    }

    h3 {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }
    button{
        margin-top: 10px;
    }
}