.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.null_slot{
    height: 0;
    opacity: 0;
}

.paginator{
    margin-top: 70px !important;
    margin: 0 auto;
    width: fit-content;
}