.wrap {
    display: flex;
    flex-direction: row;
    gap: 115px;

    .model {
        position: relative;
        width: 100%;
        max-width: 710px;
        height: 560px;
        overflow: scroll;

        .image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 710px;
            height: 560px;
        }
    }

    .anotated {
        h2 {
            font-size: 24px;
            font-weight: 500;
            line-height: 35px;
        }

        .list {
            margin-top: 10px;
            margin-left: -20px;
        }
    }
}

@media (max-width: 920px) {
    .wrap{
        flex-direction: column;
    }
}