.item {
    display: flex;
    flex-direction: row;
    gap: 10px;

    svg {
        margin-top: 8.5px;
        width: 15px;
        height: 15px;

        path {
            fill: black;
        }
    }

    .data {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 16px;
        font-weight: 400;
        line-height: 35px;

        button, a{
            background-color: transparent;
            color: green;
            text-decoration: underline;
        }
        button{
            margin-left: 10px;
        }
    }
}