.accordion_tab {
    .p-accordion-header-link {
        border-radius: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 16px 30px;
    }

    .p-accordion-header-text {
        width: fit-content;
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
        color: black;
    }
}

@media (max-width: 768px) {
    .accordion_tab{
        .p-accordion-header-link {
            padding: 10px 15px;
        }

        .p-accordion-header-text {
            font-size: 16px;
        }
    }
}