.preview {
    border-top: 1px solid #00000033;
    border-bottom: 1px solid #00000033;
    padding: 50px 0 100px 0;

    .preview_inner {
        display: flex;
        flex-direction: row;
        gap: 43px;

        img {
            width: 446px;
            height: 316px;
        }

        .content {
            h4 {
                font-size: 24px;
                font-weight: 500;
                line-height: 35px;
            }

            .descr {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 400;
                line-height: 35px;
            }

            .message{
                margin-top: 20px
            }

            .address{
                margin-top: 30px;
                width: 716px;
            }

            .order {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .title {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 35px;
                }
            }
        }
    }
}

@media (max-width: 1240px) {
    .preview{
        .preview_inner{
            flex-direction: column;

            img{
                width: 100%;
            }

            .content{
                .address{
                    width: 100%;
                }
            }
        }
    }
}