.wrap {
    display: flex;
    flex-direction: row;
}

//----------*

.wrap_items {
    display: flex;
    flex-direction: row;
}

.button_item {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    width: 100%;
    padding: 19px 0;
    border: 1px solid #00000033;
    color: #00000080;
    background-color: transparent;
    transition: .2s;
}

.button_item:hover {
    border: 1px solid #00000077;
}

.button_item_selected {
    color: #000000;
    border: 1px solid #000000;
}

.button_item_selected:hover {
    border: 1px solid #000000;
}

// ----------------*

.drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    p {
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
    }
}

@media (max-width: 1140px) {
    .button_item {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .wrap {
        flex-direction: column;
    }

    .button_item {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .wrap_items {
        flex-direction: column;
    }

    .button_item {
        padding: 12px 0;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .button_item:hover {
        background-color: #ececec;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}