.page {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;

    .header {
        .icon {
            path {
                fill: black;
            }
        }

        h2 {
            margin-top: 15px;
            font-size: 49px;
            font-weight: 500;
            line-height: 56px;
        }
    }

    .service_wrap {
        margin-top: 50px;
        border-top: 1px solid #00000033;
        border-bottom: 1px solid #00000033;
        padding-top: 48px;
        padding-bottom: 100px;

        .description {
            width: 100%;
            max-width: 1000px;
            font-size: 24px;
            font-weight: 500;
            line-height: 35px;
        }

        .title {
            margin-top: 53px;
            font-size: 24px;
            font-weight: 600;
            line-height: 35px;
        }

        .list {
            margin-top: 38px;
        }

        .subtitle {
            margin-top: 37px;
            font-size: 24px;
            font-weight: 500;
            line-height: 35px;
        }

        nav{
            margin-top: 58px;
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
    }
}

@media (max-width: 1000px) {
    .page{
        .service_wrap{
            nav{
                flex-direction: column;
            }
        }
    }
}