.description {
    width: 100%;
    max-width: 1000px;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}

.title {
    margin-top: 53px;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

.list {
    margin-top: 38px;
}

.subtitle {
    margin-top: 37px;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}

nav {
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media (max-width: 1000px) {
    nav {
        flex-direction: column;
    }
}