.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;

    img{
        margin-top: -15px;
    }

    h3 {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;

    }
}