.stats {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;

    .title {
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
    }

    .info {

        margin-top: 5px;
        display: flex;
        flex-direction: column;

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 35px;
        }
    }
}