.mobile {
    display: flex;
    flex-direction: row;
    gap: 14.7px;

    a {
        color: var(--primary-app-color);
        font-size: 18px;
        font-weight: 700;
    }

    a:hover {
        text-decoration: underline;

    }
}

.btn {
    max-width: 240px;
}

.button_call{
    background-color: transparent;
}

@media (max-width: 768px) {
    .button{
        width: 180px;
    }
}