.wrapper {
    border: 1px solid rgba($color: #A9856780, $alpha: 50%);
    border-radius: 3px;
    padding: 16px 20px;
    display: flex;
    flex-direction: row;

    input {
        width: 100%;
        color: var(--secondary-color);
        font-size: 15px;
        font-weight: 500;
    }

    input::-webkit-input-placeholder {
        color: var(--secondary-color);
    }

    button {
        background-color: transparent;
    }
}

.filter {
    position: relative;
    margin: 0 auto;

    .filter_inner {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: auto;

        .btn {
            min-width: 213px;
        }
    }

    .desktop{
        flex-direction: row;
        gap: 30px;
    }

    .mobile{
        flex-direction: column;
    }

}